<section>
    <div class="container-fluid" style="padding: 10%; margin-left: 8%; padding-right: 2rem;">
        <div class="px-xl-5 pt-5">
            <div>
                <div class="text-center">
                    <h3><b>BANNER MANAGEMENT</b></h3>
                </div>
            </div>
            <div>
                <div class="row justify-content-end d-flex">
                    <div class="mb-3">
                        <a href="/admin/add-banner" class="btn btn-success">Add banner</a>
                    </div>
                </div>
                <div class="table-responsive mb-5">
                    <table class="table text-center" id="myTable">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Sub-name</th>
                                <th scope="col">Offer</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each allBanners}}
                            <tr>
                                <th scope="row" class="fs-bold">{{inc @index}}</th>
                                <td><img style="height: 50px;width:50px;" src="/product-images/{{this.images.[0]}}"
                                        alt=""></td>
                                <td class="text-truncate" style="max-width: 150px;">{{this.name}}</td>
                                <td class="text-truncate" style="max-width: 150px;">{{this.suBname}}</td>
                                <td>{{this.offer}}&nbsp;%</td>
                                <td><a href="/admin/edit-banner/{{this._id}}"><i
                                            class="fa fa-edit fa-2x text-dark" aria-hidden="true"></i></a></td>
                                <td><a onclick="confirmDelete('{{this._id}}', '{{this.name}}')"><i
                                            class="fa fa-trash fa-2x text-dark" aria-hidden="true"></i></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    $(document).ready(function () {
        if (typeof $.fn.DataTable !== 'undefined') {
            $('#myTable').DataTable();
        }
    });

    // Function to confirm delete action
    function confirmDelete(bannerId, bannerName) {
        Swal.fire({
            title: "Are you sure?",
            text: "You are about to delete the " + bannerName + " banner.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!",
        }).then((result) => {
            if (result.isConfirmed) {
                // Make a GET request to delete the banner
                deleteBanner(bannerId);
            }
        });
    }

    // Function to delete the banner
    function deleteBanner(bannerId) {
        // Make a GET request to delete the banner
        $.ajax({
            url: "/admin/delete-banner/" + bannerId,
            type: "GET",
            success: function (response) {
                // Handle the success response
                // Refresh the page or update the table data
                location.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Handle the error response
                console.log("An error occurred while deleting the banner: ", errorThrown);
                // Display an error message to the user
                Swal.fire("Error", "Failed to delete the banner. Please try again later.", "error");
            },
        });
    }
</script>
