<div class="container-fluid " style="padding: 8%; margin-left: 11%; margin-top: 2rem;">
  <div class="row px-xl-5 pt-5">
    <div class=" table-responsive mb-5">
      <div class="justify-content-end d-flex mb-3" style="margin: 2rem;">
        <a class="btn btn-info" href="/admin/add-coupon">Add Coupon</a>
      </div>
      {{#if coupExistErr}}
      <p class="error text-danger">{{coupExistErr}}</p>
      {{/if}}
      {{!-- <table class="table table-light table-borderless table-hover text-center mb-3"> --}}
      <table class="table text-center" id="myTable">
        <thead class="thead-light">
          <tr>
            <th>No</th>
            <th>Coupon</th>
            <th>Starting Date</th>
            <th>Min Purchase</th>
            <th>Max Discount</th>
            <th>Expire Date</th>
            <th>offer(%)</th>
            <th>Edit</th>
            <th>Delete</th>

          </tr>
        </thead>
        <tbody class="align-middle">
          {{#each coupons}}
          <tr>
            <td class="align-middle">{{inc @index}}</td>
            <td class="align-middle">{{this.coupon}}</td>
            <td class="align-middle">{{this.starting}}</td>
            <td class="align-middle">{{this.minPurchase}}</td>
            <td class="align-middle">{{this.maxDiscountValue}}</td>
            <td class="align-middle">{{this.expiry}}</td>
            <td class="align-middle">{{this.offer}}</td>
            <td class="align-middle icon-red"><a href="/admin/edit-coupon/{{this._id}}"><i
                  class="fa fa-edit fa-2x text-dark"></i></a></td>
            <td class="align-middle"><a onclick="return confirm('delete {{this.coupon}} coupon')"
                href="/admin/delete-coupon/{{this._id}}"><i class="fa fa-trash-o fa-2x text-dark"></i></a></td>
          </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{{!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> --}}
{{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> --}}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script>
  // Initialize DataTable
  $(document).ready(function () {
    $('#myTable').DataTable();
  });
</script>