
<div class="container-fluid position-relative p-0" id="sales-report" style="padding: 1rem; padding-left: 15rem; margin-top: 2rem;">
  <div class="container-fluid" style="margin-top: 5rem;">
    <div class="text-end bg-light p-3">
  <form action="/admin/sales-report-data" method="POST" class="d-flex align-items-center justify-content-end">
    <h2 class="me-2"><p>Date Filter:</p></h2>
    <div class="flex-wrap mt-2">
      <label for="startdate" class="me-2">From:</label>
      <input type="date" name="startdate" id="startdate" class="form-control" style="width: 20%;" >
    </div>
    <div class="flex-wrap mt-2">
      <label for="enddate" class="me-2">Till:</label>
      <input type="date" name="enddate" id="enddate" class="form-control" style="width: 20%; " style="padding:2rem;" >
    </div>
    <div class="flex-wrap " style="padding:2rem;" >
      <button class="btn btn-success" type="submit">Submit</button>
    </div>
  </form>
  <div class="mt-3">
    <button type="button" class="btn btn-info btn_print me-3" value="pdf">Download PDF</button>
    <button type="button" class="btn btn-info btn_print me-3" value="excel">Download as Excel</button>
    <button type="button" class="btn btn-info btn_print me-3" value="csv">Download CSV</button>
  </div>
</div>

    <div class="mt-4">
      <p class="text-center h1 fw-bold mb-4"><u>Sales Report</u></p>
      <table class="table" id="container_content">
        <thead class="bg-light">
          <tr>
            <th scope="col">No</th>
            <th scope="col">OrderID</th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Products</th>
            <th scope="col">Price</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Payment</th>
            <th scope="col">Status</th>
            <th scope="col">Contact</th>
          </tr>
        </thead>
        <tbody id="myTable" class="text-50">
          {{#each salesReport}}
          <tr>
            <th scope="row" class="fs-bold">{{inc @index}}</th>
            <td>{{this._id}}</td>
            <td class="text-center">{{this.date}}</td>
            <td>{{this.user.Name}}</td>
            <td>{{this.product.Name}}</td>
            <td>{{this.product.Price}}</td>
            <td>{{this.totalAmount}}</td>
            <td>{{this.PaymentMethod}}</td>
            <td>{{this.status}}</td>
            <td>{{this.user.Email}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>




<script>
  $(document).ready(function ($) {
    $(document).on('click', '.btn_print', function (event) {
      event.preventDefault();
      var element = document.getElementById('container_content');
      let randomNumber = Math.floor(Math.random() * (10000000000 - 1)) + 1;
      var opt = {
        margin: 0,
        filename: 'SalesReport' + randomNumber + '.pdf',
        html2canvas: {
          scale: 10
        },
        jsPDF: {
          unit: 'in',
          format: 'letter',
          orientation: 'portrait'
        }
      };
      html2pdf().set(opt).from(element).save();
    });
  });

  function export_data() {
    let data = document.getElementById('container_content');
    var wb = XLSX.utils.table_to_book(data, { sheet: 'Sheet JS' });
    var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'array' });
    saveAs(new Blob([wbout], { type: 'application/octet-stream' }), 'sales_report.xlsx');
  }

  $(document).ready(function () {
    var table = $('#container_content').DataTable({
      dom: 'Bfrtip',
      buttons: ['csv', 'excel']
    });

    $(document).on('click', '.btn_print', function (event) {
      event.preventDefault();
      var btnValue = $(this).val();
      if (btnValue === 'csv') {
        table.button('.buttons-csv').trigger();
      } else if (btnValue === 'excel') {
        export_data();
      }
    });
  });
</script>
