<section style="background-color:  #eee; margin: 17rem; margin-top: 8rem; width: 15rem ; height :15rem">
  <div class="container py-5">
    <div class="row">
      <div class="col">

      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px; margin-right: 11rem;">

          </div>
        </div>

      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userDetails.Name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userDetails.Email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userDetails.Number}}</p>
              </div>
            </div>
            <hr>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <div class="form-check">
                  {{#each userAddress.address}}
                  <div class="custom-control custom-checkbox me-sm-2 border">
                    <label class="custom-control-label"
                      for="{{@index}}">{{this.name}}<br>{{this.address}},{{this.town}},{{this.district}}<br>{{this.state}},{{this.pincode}},{{this.phone}}</label>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Order Mangement</p>
              </div>
              <div class="col-sm-9">
                <a href="/admin/view-orders/{{this.userDetails._id}}" class="btn btn-success"> Orders</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>